.DS_Store
.exrc
.ropeproject
_UAEFSDB.___

# ide folders
.idea

# toolchain files
gdb-dashboard
.gdb_history

# executable files, floppy & rom images and archives
*.adf
*.img
*.exe
*.exe.dbg
*.exe.map
*.obj
*.rom
*.7z
*.dSYM

# AmigaOS files
*.info

# Backup files
*.bak
*.old
*~

# Build system files
*.pyc
*.o
*.a
*.D

# data files
*.2d
*.3d
*.8svx
*.ahx
*.bin
*.ctr
*.dat
*.gif
*.iff
*.ilbm
*.lwo
*.mod
*.p61
*.pal
*.png
*.psf
*.psfu
*.smp
*.tga
*.thx
*.tmx
*.trk
*.zx0
ahxWaves*
p61.*
smp.*
effects/*/data/*.[ch]

# source index files
*.taghl
tags
cscope.out

# specific binary files
vbrmove

# Whitelisted files 
!README.gdb.png
!README.vsc.png
!go.mod
