anim
ball
blurred
blurred3d
bumpmap-rgb
circles
chunky-16c
chunky-rgb
colortab.s
copper
cube
floor
glitch
highway
kbtest
lines
metaballs
mouse
neons
parseiff
parselwo
play8svx
playahx
playp61
plotter
shapes
showilbm
showlwo
showpchg
sintab.s
sprites16
sprites4
textscroll
tilezoomer
transparency
topaz8
twister-rgb
uvmap
uvmap-rgb
*.7z
