blurred
bumpmap
circles
chunky-16c
chunky-rgb
copper
cube
floor
kbtest
lines
metaballs
mouse
parseiff
parselwo
play8svx
playahx
playp61
shapes
showilbm
showlwo
sintab.s
sprites16
sprites4
topaz8
uvmap
